# MISC FILES
CamelWords.txt
clean-words.py
english-words-master.zip
words_alpha.txt
how-to-psql.md
PascalWords.txt

# PYTHON OMISSION FILES
*omit.py
*__pycache__

# SRC FOLDERS
src/

# MIGRATIONS

# ENVIRONMENT
env/
.env