# MISC FILES
CamelWords.txt
clean-words.py
english-words-master.zip
words_alpha.txt
how-to-psql.md

# PYTHON OMISSION FILES
*omit.py
*__pycache__

# SRC FOLDERS
src/randID/
src/static/
src/templates/

# MIGRATIONS
src/*/migrations/

# SRC FILES
src/movie_content.txt
src/post_movie_content.py
src/smooth-scroll.html

# ENVIRONMENT
env/
.env